Debug/
Release/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
tmp/
datasets/

.vs/
ipch/
*.sdf
*.suo
*.opendb
*.opensdf
*.VC.*
*.psess
*.VC.db
*.VC.opendb
*.user

#NuGet
packages
!packages/repositories.config
intermediate/